body{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    background-color: rgba(226, 226, 226, 0.775);
    overflow:hidden;
    font-family:monospace;
}


.mic{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.563);
    text-decoration: none;
    display: inline-block;     
    z-index: 1;     
    padding: 1rem 11rem;
}
i{
    pointer-events: none;
}

.main{
    display: flex;
    flex-direction: row;
}

.maps-section{
    display: flex;
    flex-direction: column;
}

#myMap{
    width: 90vh;
    height: 50vh;
    padding: 4rem;
    margin: 2rem 3rem 2rem 3rem;

}

.grid-item{
    position: relative;
    margin-bottom: 20px;

}
.grid-item:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.icon-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-link:hover{
    color: black;
}

#g4{
    background-color: rgb(181, 181, 181);
    
    border-radius: 10px;

    padding: 2rem 0rem 2rem 0rem;
    border-radius: 10px;
    width: 50%;
    margin-left: 12rem;
}


@media (max-width: 900px) {
    
    .main{
        display: flex;
        flex-direction: column-reverse;
    }

    #result{
        font-size: 1.2rem;
        padding: 0rem;
        margin-left: 3rem;
    }

    #myMap{
        width: 60%;
        height: 36vh;
        margin-left: 2.5rem;
    }
    #g4{
        margin-left: 5rem;
    }

}


@media (max-width: 600px) {
    
    .main{
        display: flex;
        flex-direction: column-reverse;
    }

    #result{
        font-size: 1.2rem;
        padding: 0rem;
        margin-left: 5rem;
    }

    #myMap{
        width: 60%;
        height: 36vh;
    }
    #g4{
        margin-left: 7.8rem;
    }

}

